**/.ipynb_checkpoints
Dados_InfoGripe_dados*.csv

data/outras/dados-abertos-df.csv
data/outras/Global_Mobility_Report.csv
data/raca/*
analises/Negros no Brasil.ipynb
data/caso_full_with_indicators_20200622.csv
data/caso_full_with_indicators_20200702.csv
20111111mapasregioessaude.pps
data/observatorios/observatorio_dos_lixoes.json
data/observatorios/observatorio_dos_desastres.json
data/observatorios/observatorio_dos_desastres_decretos.json