**/.ipynb_checkpoints
Dados_InfoGripe_dados*.csv

Global_Mobility_Report.csv
obitos 2010 por raca datasus - agressoes.txt
obitos 2010 por raca datasus.txt
homicidios.csv
tabela3176-municipio_raca_alfabetizacao.csv
analises/Negros no Brasil.ipynb