# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r data\requirements.txt
    - name: execute py script
      run: python data\Getting_covid_data_from_brasilio.py
    - name: Commit files
      run: |
        git config --local user.email "camilacfc@gmail.com"
        git config --local user.name "camilafracaro"
        git add ./data
        git commit -m "Update caso_full_with_indicators and notes" -a
    - name: Push changes
      uses: ./.github/common-data/common-data@master
      with:
        github_token: ${{ secrets.SECRET_GITHUB_PUSH }}

#    - name: Commit
#      run: |
#        git remote set-url origin ${{ secrets.SECRET_GITHUB_PUSH }}
#        git status
#        git add data\*.csv
#        git commit -m "Auto updating caso_full_with_indicators and notes"
#        git fetch origin master
#        git push origin HEAD:master
#      with:
#        github_token: ${{ secrets.GITHUB_TOKEN }}